<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <div th:replace="/shared/fragments :: header-css"></div>
    <meta charset="UTF-8">
    <title>Lista produktów</title>
</head>
<body class="container">
<div th:replace="/shared/fragments :: menu(koszyk)"></div>
<div class="showList">
    <h1>Koszyk</h1>

    <table border="1" class="table">
        <thead class="thead-dark">
        <tr>
            <th>Lp.</th>
            <th>Produkt</th>
            <th>Ilość</th>
            <th>Cena</th>
        </tr>
        </thead>
        <tr th:each="Tenprodukt : ${koszyk}">
            <th th:text="${TenproduktStat.count}"></th>
            <th th:text="${Tenprodukt.nazwa}"></th>
            <th th:text="${Tenprodukt.ilosc}"></th>
            <th th:text="${Tenprodukt.cena}"></th>
        </tr>
    </table>
    <div th:replace="/shared/fragments :: footer"></div>
</div>
</body>
</html>