<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{shared/myLayout}"
      th:with="pageName='home'">
<head>
    <div th:replace="/shared/fragments :: header-css"></div>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body  class="container">
<div th:replace="/shared/fragments :: menu(registration)"></div>
<div layout:fragment="custom-content">
    <h1>Zarejestruj się!</h1>
    <form th:action="@{/user/registrationProfil}" method="post">
        <div>
            <input type="text" name="imie" placeholder="Imie"/>
        </div>
        <div>
            <input type="text" name="nazwisko" placeholder="Nazwisko"/>
        </div>
        <div>
            <input type="number" name="telefon" placeholder="Numer telefonu"/>
        </div>
        <div>
            <input type="text" name="adres" placeholder="Adres do korespondencji"/>
        </div>
        <input type="submit" value="Zapisz"/>
    </form>
</div>
<div th:replace="/shared/fragments :: footer"></div>
</body>
</html>