<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="/shared/fragments :: header-css"></div>
    <title>Szczegóły książki</title>
</head>
<body class="container">
<div th:replace="/shared/fragments :: menu(home)"></div>
<table border="1" class="table" id="table-szegoly" th:object="${produkt}">
    <tr>
        <td colspan="2">
            <center>
                <img style="width: 30%" th:src="'data:mime_type;base64,'+*{photo.getBase64Content()}"/>
            </center>
        </td>
    </tr>
    <tr>
        <thead class="thead-dark"><th>Nazwa</th><td th:text="*{nazwa}"></td></thead>
    </tr>
    <tr>
        <thead class="thead-dark"><th>Opis</th><td th:text="*{opis}"></td></thead>
    </tr>
    <tr>
        <thead class="thead-dark"><th>Cena</th><td th:text="*{cena}"></td></thead>
    </tr>
    <tr>
        <thead class="thead-dark"><th>Dostępność produktu</th><td th:text="*{dostepnoscNaMagazynie}"></td></thead>
    </tr>
    <tr>
        <thead class="thead-dark"><th>Kategoria</th><td>
            <div th:each="feature: ${produkt.kategoria}">
                [[${feature.name}]]
            </div>
        </td></thead>
    </tr>
    <tr>
        <thead class="thead-dark"><th>Zwierze</th><td>
            <div th:each="feature: ${produkt.zwierzeta}">
                [[${feature.name}]]
            </div>
        </td></thead>
    </tr>

</table>
<a href="/produkty/showList"  class="btn btn-dark">Powrót</a>
<div th:replace="/shared/fragments :: footer"></div>
</body>
</html>